.pd-section {
    padding-top: calc(40px - var(--gutter));
    padding-bottom: calc(40px - var(--gutter));
}

.object-fit-cover {
    object-fit: cover;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1{
    flex: 1;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.cursor-pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.text-center {
    text-align: center;
}

.mg-bt-8 {
    margin-bottom: 8px;
}

.pd-t-10 {
    padding-top: 10px;
}

.pd-40 {
    padding-top: calc(40px - var(--gutter));
}

.pd-t-40 {
    padding-top: calc(40px - var(--gutter));
}

.pd-bt-40 {
    padding-bottom: calc(40px - var(--gutter));
}

.mg-t-40 {
    margin-top: calc(40px - var(--gutter) * 2);
}

.mg-t-25 {
    margin-top: calc(25px - var(--gutter) * 2);
}

@media (min-width: 576px){

}

@media (min-width: 768px){
    .md-none {
        display: none;
    }
    .md-block {
        display: block;
    }

    .md-column {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .lg-none {
        display: none;
    }
    .lg-block {
        display: block;
    }

    .lg-flex {
        display: flex;
    }

    .lg-initital {
        display: initial;
    }

    .lg-column {
        flex-direction: column;
    }

    .pd-t-40 {
        padding-top: calc(64px - var(--gutter));
    }

    .lg-inline-block {
        display: inline-block;
    }

    .pd-section {
        padding-top: calc(64px - var(--gutter));
        padding-bottom: calc(64px - var(--gutter));
    }

    .mg-bt-8 {
        margin-bottom: 0px;
    }

    .pd-40 {
        padding-top: calc(64px - var(--gutter));
        padding-bottom: calc(64px - var(--gutter));
    }

    .pd-bt-40 {
        padding-bottom: calc(64px - var(--gutter));
    }
    
    .mg-t-40 {
        margin-top: 0;
    }

    .mg-t-25 {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .xl-none {
        display: none;
    }

    .xl-block {
        display: block;
    }

    .xl-inline-block {
        display: inline-block;
    }

    .xl-flex {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .xxl-block {
        display: block;
    }
}