:root {
    --gutter: 5px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

header {
    background-color: #365899;
}

header .icon-facebook {
    font-size: 16px;
}

.header__box {
    color: #ffffff;
    padding: 8px 30px;
}

.header__box h2 {
    margin: 0;
    margin-left: 10px;
    font-size: 13px;
}

.form__description {
}

.form {
    max-width: 360px;
    margin: 0 auto;
}

.form__description {
    margin-bottom: 40px;
}

.form__label {
    width: 100px;
}

.form__input {
    margin-top: 10px;
}

.form__input input {
    border: 1px solid #dddfe2;
    height: 24px;
    padding: 0 10px;
}

.form__anchor {
    padding: 10px 0;
}

.btn-login {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #365899;
}